:root {
    --bs-link-color: #3eb7ba;
}

.pagination {
    --bs-pagination-active-bg: #3eb7ba;
    --bs-pagination-active-border-color: #3eb7ba;
    --bs-pagination-color: #3eb7ba;
}

input:not([type="checkbox"], [type="radio"], .select2-search__field),
select {
    height: 38px;
}

.form-check {
    padding: 0;
}

.form-check .form-check-input {
    width: 1.25rem;
    height: 1.25rem;
    float: none;
    margin: 0;
    transition: all 0s;
}

.ws-pre-wrap {
    white-space: pre-wrap;
}

.input-wrapper {
    position: relative;
}

.card {
    display: inline-block;
    width: 100%;
    margin: 1.5rem 0 0;
}

.input-disabled-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0.5;
    cursor: not-allowed;
    z-index: 1;
}

.accordion-button {
    font-size: 16px;
}

#preloader {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.5s, opacity 0.5s ease-in-out;
}

#preloader.active {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear;
}

body[data-layout=horizontal] .page-content {
    margin-top: 40px;
    margin-bottom: 40px;
}

.daterangepicker .calendar-table th,
.daterangepicker .calendar-table td {
    line-height: 1;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
    background-color: var(--bs-primary);
}

select.select2-hidden-accessible,
.select2-container .select2-selection--single .select2-selection__arrow {
    display: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    float: none;
}

.sortable-placeholder {
    background: var(--bs-light);
    opacity: 0.3;
}

.ui-sortable-helper>* {
    background-color: #fff !important;
    width: 100%;
}

.ui-sortable-handle {
    cursor: grab;
}

#no-interaction-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999999;
    user-select: none;
    cursor: wait;
}

.jstree-default .jstree-disabled {
    opacity: 0.7;
    color: var(--bs-danger);
}

.jstree-default .jstree-search {
    color: var(--bs-primary);
}

.crud-fixed-bottom-buttons {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    z-index: 1;
}

.select2-container--open {
    z-index: 9999999
}

.tab-pane>*:first-child {
    margin-top: 0;
}